button {
  border: 2px solid var(--primary-color);
  box-shadow: none;
  background: white;
  color: var(--primary-color);
  padding: 0.5em 1em;
  font-family: inherit;
  font-size: 100%;
  text-decoration: none;

  &:hover {
    box-shadow: inset 0.25em 0px 0px 0px rgba(var(--primary-color),1);
  }
  &:focus {
    outline: 0
  }
  &:active, &:focus {
    box-shadow: inset -0.45em 0px 0px 0px rgba(var(--primary-color),1);
  }

  &[disabled] {
    opacity: 0.75;
    box-shadow: none;
    border-color: var(--disabled-color);
    color: var(--disabled-color);
  }
}
